<div class="container">
  <h2>{{chatAppCtrl.title}}</h2>

  <div>
    <div class="media" ng-repeat="message in chatAppCtrl.messages">
      <div class="media-body">
        <h4 class="media-heading">ID: {{message.id}}</h4>
        {{message.body}}
      </div>
    </div>
  </div>

  <form name="newMessageForm"
   ng-init="newMessage = {}"
   ng-submit="newMessageForm.$valid && chatAppCtrl.addNewMessage(newMessage)"
   novalidate>
    <div class="form-group">
      <label for="">New message</label>
      <textarea class='form-control'
        ng-model="newMessage.body"
        name="message"
        required
        rows="8" cols="80"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
